
<!-- Opening Info -->
<section class="opening-info">
    
</section>

<!-- Social Media Icons links for events -->
<section class="social">
    <div class="col">
        {{#each event}}
         <div>
             {{!-- add edit feature  --}}
             {{{editIcon _id}}}
             {{!-- {{{displayEdit event.user ../user _id}}} --}}
             <form action="/events/{{_id}}" method="POST" id="delete-from">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn red">
                    <i class="fas fa-trash"></i>
                </button>
            </form>
           <h3>{{stripTags eventDate}}</h3> 
            <h4>{{stripTags body}}</h4>
            <br>
         </div>    
        {{/each}}
    </div>
</section>

<!-- Pic of Quality ingredients Stock image Only -->
<figure class="info-pic">
    
</figure>

<!-- About Info Section --><section class="about-info">

</section>

   
   


