
<!-- Opening Info -->
<div class="opening-info">
    <video>
        <source src="/joji.mp4" type="video/mp4">
    </video>
</div>

<!-- Social Media Icons links for events -->
<div class="social">
    {{#if user}}
        
            {{#each event}}
            <div>
                <div class="card">
                    <div class="card-header">
                        {{stripTags eventDate}}
                        {{{editIcon user._id ../user _id}}}
                        {{{trashIcon user._id ../user _id}}}
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                        <p>{{stripTags body}}</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        {{/each}}
            {{> _add_btn}}

    {{else}}
          {{#each event}}
            <div class="card">
                <div class="card-header">
                    {{stripTags eventDate}}
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                    <p>{{stripTags body}}</p>
                    </blockquote>
                </div>
            </div>  
        {{/each}}  
     
    {{/if}}
</div>

<!-- Pic of Quality ingredients Stock image Only -->
<div class="info-pic">
    
</div>

<!-- About Info Section -->
<section class="about-info">

</section>

<footer></footer>
      <nav class="navbar navbar-dark bg-dark">
        <ul class="nav justify-content-end">
       
        <li class="nav-item">
            <a class="nav-link active" href="/logout">Logout</a>
        </li>
        </ul>
    </nav>
</footer>


